* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 20px;
  background-image: linear-gradient(to bottom right, #111211, #42423f);
  color: white;
}

h1 {
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-transform: none;
}

.default-navbar {
  overflow: hidden;
  background-color: #070707;
  padding: 20px;
}
.default-navbar > .active {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 0px 0px 90px;
}
.default-navbar .item {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 0px 0px 0px;
}
.default-navbar .contact {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 90px 0px 0px;
}

.default-section {
  overflow: hidden;
  padding: 20px 20px 120px 20px;
  margin-left: 90px;
  padding-bottom: 25rem;
}
.default-section > .text {
  float: left;
  width: 50%;
  padding: 10px;
}
.default-section > .text > .name {
  font-size: 28px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.default-section > .text > .formattion {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
.default-section > .text > .information {
  padding-top: 20px;
}
.default-section > .text > .learnMore {
  padding-top: 40px;
  font-size: 20px;
}
.default-section > .text a {
  color: #f0860c;
  text-decoration: none;
}
.default-section > .image {
  float: right;
  width: 40%;
  padding: 50px 20px 20px 20px;
  text-align: center;
}
.default-section > .image > .icons {
  text-decoration: none;
  font-size: 29px;
  padding-top: 15px;
}
.default-section > .image > .icons a {
  color: white;
}
.default-section > .image img {
  border-radius: 50%;
}

.default-cards .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.default-cards .card .description {
  padding-top: 60px;
}
.default-cards .card .description .image img {
  margin-left: 2%;
  padding-right: 10px;
  float: left;
  height: 80px;
  width: 80px;
}
.default-cards .card .description .text {
  margin-left: 60px;
}
.default-cards .card .description .text .title {
  margin: 0px;
  font-size: 20px;
  padding-bottom: 2px;
}
.default-cards .card .description .text .comment {
  font-size: 16px;
  float: left;
}
.default-cards .card .image {
  text-align: center;
}
.default-cards .card .image img {
  width: 200px;
}
.default-cards .card:nth-child(1) {
  background-image: linear-gradient(to bottom right, #ff4b00, white);
}
.default-cards .card:nth-child(2) {
  background-image: linear-gradient(to bottom right, #2196f3, white);
}
.default-cards .card:nth-child(3) {
  background-image: linear-gradient(to bottom right, #f0c020, #72c1e8);
}
.default-cards .card:nth-child(4) {
  background-image: linear-gradient(to bottom right, #e0c600, #FFF);
}
.default-cards .card:nth-child(5) {
  background-image: linear-gradient(to bottom right, #02a9f4, #fed801);
}

.about {
  display: block;
  background: #FFFFFF;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: black;
}
.about .section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.about .section-intro h1 {
  font-family: "poppins-semibold", serif;
  font-size: 3.6rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.about .section-intro h5 {
  color: #FF0077;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}
.about .intro-info {
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}
.about .intro-info img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: 0.9rem 0 0 0;
  float: left;
}
.about .intro-info .lead {
  text-align: left;
  padding-left: 13rem;
  font-size: 1.3rem;
  font-family: "lora-regular", serif;
  line-height: 1.8;
}
.about .about-content {
  position: relative;
  text-align: left;
  max-width: 850px;
  margin-bottom: 3.6rem;
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #6e6e6e;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
.about .about-content h3 {
  font-family: "poppins-bold", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.about .about-content .info-list {
  list-style: none;
  margin-left: 0;
}
.about .about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: 0.6rem;
}
.about .about-content .info-list li strong {
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.about .about-content .info-list li span {
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: #888888;
  font-size: 1.5rem;
  line-height: 1;
}
.about .about-content .skill-bars {
  margin-top: 6rem;
  list-style: none;
  margin: 6rem 0 3rem;
}
.about .about-content .skill-bars li {
  height: 0.6rem;
  background: #a1a1a1;
  width: 100%;
  margin-bottom: 6rem;
  padding: 0;
  position: relative;
}
.about .about-content .skill-bars li strong {
  position: absolute;
  left: 0;
  top: -3rem;
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.about .about-content .skill-bars li .progress {
  background: #313131;
  position: relative;
  height: 100%;
}
.about .about-content .skill-bars li .progress span {
  position: absolute;
  right: 0;
  top: -3.6rem;
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: white;
  font-size: 1.1rem;
  line-height: 1;
  background: #313131;
  padding: 0.6rem 0.6rem;
  border-radius: 3px;
}
.about .about-content .skill-bars li .progress span::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #313131;
  content: "";
}
.about .about-content .skill-bars li .percent5 {
  width: 5%;
}
.about .about-content .skill-bars li .percent10 {
  width: 10%;
}
.about .about-content .skill-bars li .percent15 {
  width: 15%;
}
.about .about-content .skill-bars li .percent20 {
  width: 20%;
}
.about .about-content .skill-bars li .percent25 {
  width: 25%;
}
.about .about-content .skill-bars li .percent30 {
  width: 30%;
}
.about .about-content .skill-bars li .percent35 {
  width: 35%;
}
.about .about-content .skill-bars li .percent40 {
  width: 40%;
}
.about .about-content .skill-bars li .percent45 {
  width: 45%;
}
.about .about-content .skill-bars li .percent50 {
  width: 50%;
}
.about .about-content .skill-bars li .percent55 {
  width: 55%;
}
.about .about-content .skill-bars li .percent60 {
  width: 60%;
}
.about .about-content .skill-bars li .percent65 {
  width: 65%;
}
.about .about-content .skill-bars li .percent70 {
  width: 70%;
}
.about .about-content .skill-bars li .percent75 {
  width: 75%;
}
.about .about-content .skill-bars li .percent80 {
  width: 80%;
}
.about .about-content .skill-bars li .percent85 {
  width: 85%;
}
.about .about-content .skill-bars li .percent90 {
  width: 90%;
}
.about .about-content .skill-bars li .percent95 {
  width: 95%;
}
.about .about-content .skill-bars li .percent100 {
  width: 100%;
}

.row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
}
.row::before, .row ::after {
  content: "";
  display: table;
  clear: both;
}

.portfolio {
  background: #FFFFFF;
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: red;
}
.portfolio .section-intro {
  color: #FF0077;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}
.portfolio .section-intro h1 {
  font-family: "poppins-semibold", serif;
  font-size: 3.6rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
  padding-top: 10px;
}
.portfolio .section-intro .lead {
  font-family: "lora-regular", serif;
  font-size: 2rem;
  line-height: 1.8;
  color: #888888;
}
.portfolio .folio-wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(3, 350px);
  grid-gap: 50px 30px;
}
.portfolio .folio-wrapper > .item-wrap img {
  border: thin gray solid;
  padding: 10px;
}
.portfolio .folio-item {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.portfolio .folio-item img {
  vertical-align: middle;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio .folio-item:hover .overlay {
  background: rgba(0, 0, 0, 0.8);
}
.portfolio .folio-item:hover .folio-item-cell {
  left: 0;
}
.portfolio .folio-item:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.portfolio .folio-item-table {
  display: table;
  width: 100%;
  height: 100%;
}
.portfolio .folio-item-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: -100%;
}
.portfolio .folio-title {
  color: #FFFFFF;
  font-size: 3.3rem;
  padding: 0 3rem;
  margin-bottom: 0;
}
.portfolio .folio-types {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "poppins-regular", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.6);
}

/*# sourceMappingURL=style.css.map */
