@mixin navbar-config($float, $color, $text-align, $padding, $text-decoration, $font-size, $margin) {
    float: $float;
    color: $color;
    text-align: $text-align;
    padding: $padding;
    text-decoration: $text-decoration;
    font-size: $font-size;
    margin: $margin;
}

@mixin degrade ($first-color, $second-color) {
    background-image: linear-gradient(to bottom right, $first-color, $second-color);
}