.default-navbar {
    overflow: hidden;
    background-color: $background-color-navbar;
    padding: 20px;

    > .active {
        @include navbar-config(left, #f2f2f2, center, 14px 16px, none, 17px, 0px 0px 0px 90px);
    }

    .item {
        @include navbar-config(left, #f2f2f2, center, 14px 16px, none, 17px, 0px 0px 0px 0px);
    }

    .contact {
        @include navbar-config(right, #f2f2f2, center, 14px 16px, none, 17px, 0px 90px 0px 0px);
    }
}

.default-section {
    overflow: hidden;
    padding: 20px 20px 120px 20px;
    margin-left: 90px;
    padding-bottom: 25rem;

    > .text {
        float: left;
        width: 50%;
        padding: 10px;

        > .name {
            font-size: 28px;
            padding-top: 50px;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }

        > .formattion {
            font-weight: 700;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        > .information {
            padding-top: 20px;
        }

        > .learnMore {
            padding-top: 40px;
            font-size: 20px;
        }

        a {
            color: #f0860c;
            text-decoration: none;
        }
    }

    > .image {
        float: right;
        width: 40%;
        padding: 50px 20px 20px 20px;
        text-align: center;

        > .icons {
            text-decoration: none;
            font-size: 29px;
            padding-top: 15px;

            a {
                color: $color;
            }
        }
        
        img {
            border-radius: 50%;
        }
    }
}

.default-cards {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;

        .description {
            padding-top: 60px;

            .image {
                img {
                    margin-left: 2%;
                    padding-right: 10px;
                    float: left; 
                    height: 80px;
                    width: 80px;	
                }
            }

            .text {
                margin-left:60px;

                .title {
                    margin:0px;
                    font-size: 20px;
                    padding-bottom: 2px;
                }

                .comment {
                    font-size: 16px;
                    float: left;
                }
            }
        }

        .image {
            text-align: center;

            img {
                width: 200px;
            }
        }

        &:nth-child(1) {
            background-image: linear-gradient(to bottom right, #ff4b00, white);
        }

        &:nth-child(2) {
            background-image: linear-gradient(to bottom right, #2196f3, white);
        }

        &:nth-child(3) {
            background-image: linear-gradient(to bottom right, #f0c020, #72c1e8);
        }

        &:nth-child(4) {
            background-image: linear-gradient(to bottom right, #e0c600, #FFF);
        }

        &:nth-child(5) {
            background-image: linear-gradient(to bottom right, #02a9f4, #fed801);
        }
    }
}

.about {
    display: block;
    background: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 6rem;
    color: black;

    .section-intro {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 3.6rem;
        position: relative;

        h1 {
            font-family: "poppins-semibold", serif;
            font-size: 3.6rem;
            color: #313131;
            line-height: 1.25;
            margin-bottom: 1.2rem;
        }

        h5 {
            color: #FF0077;
            font-size: 1.6rem;
            line-height: 1.875;
            margin-bottom: 0.3rem;
            letter-spacing: .4rem;
        }
    }

    .intro-info {
        margin-top: 4.2rem;
        margin-right: -30px;
        margin-left: -30px;

        img {
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
            margin: .9rem 0 0 0;
            float: left;    
        }

        .lead {
            text-align: left;
	        padding-left: 13rem;
            font-size: 1.3rem;
            font-family: "lora-regular", serif;
            line-height: 1.8;
        }
    }

    .about-content {
        position: relative;
        text-align: left;
        max-width: 850px;
        margin-bottom: 3.6rem;
        font-family: "lora-regular", serif;
        font-size: 1.7rem;
        line-height: 3rem;
        color: #6e6e6e;
        -webkit-font-smoothing: antialiased;
        font-weight: normal;
        text-rendering: optimizeLegibility;
        word-wrap: break-word;
        -webkit-text-size-adjust: none;

        h3 {
            font-family: "poppins-bold", sans-serif;
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: .25rem;
        }

        .info-list {
            list-style: none;
	        margin-left: 0;

            li {
                padding: 0 0 1.5rem 0;
	            margin-bottom: .6rem;

                strong {
                    font-family: "poppins-bold", sans-serif;
                    color: #313131;
                    text-transform: uppercase;
                    letter-spacing: .2rem;
                    font-size: 1.5rem;
                    line-height: 3rem;
                }

                span {
                    display: block;
                    font-family: "poppins-regular", sans-serif;
                    color: #888888;
                    font-size: 1.5rem;
                    line-height: 1;
                }
            }
        }

        .skill-bars {
            margin-top: 6rem;
            list-style: none;
	        margin: 6rem 0 3rem;

            li {
                height: .6rem;
                background: #a1a1a1;
                width: 100%;
                margin-bottom: 6rem;
                padding: 0;
                position: relative;

                strong {
                    position: absolute;
                    left: 0;
                    top: -3rem;
                    font-family: "poppins-bold", sans-serif;
                    color: #313131;
                    text-transform: uppercase;
                    letter-spacing: .2rem;
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                }

                .progress {
                    background: #313131;
                    position: relative;
                    height: 100%;

                    span {
                        position: absolute;
                        right: 0;
                        top: -3.6rem;
                        display: block;
                        font-family: "poppins-regular", sans-serif;
                        color: white;
                        font-size: 1.1rem;
                        line-height: 1;
                        background: #313131;
                        padding: .6rem .6rem;
                        border-radius: 3px;

                        &::after {
                            position: absolute;
                            left: 50%;
                            bottom: -5px;
                            margin-left: -5px;
                            border-right: 5px solid transparent;
                            border-left: 5px solid transparent;
                            border-top: 5px solid #313131;
                            content: "";
                        }
                    }
                }

                .percent5 { width: 5%; }
                .percent10  { width: 10%; }
                .percent15  { width: 15%; }
                .percent20  { width: 20%; }
                .percent25  { width: 25%; }
                .percent30  { width: 30%; }
                .percent35  { width: 35%; }
                .percent40  { width: 40%; }
                .percent45  { width: 45%; }
                .percent50  { width: 50%; }
                .percent55  { width: 55%; }
                .percent60  { width: 60%; }
                .percent65  { width: 65%; }
                .percent70  { width: 70%; }
                .percent75  { width: 75%; }
                .percent80  { width: 80%; }
                .percent85  { width: 85%; }
                .percent90  { width: 90%; }
                .percent95  { width: 95%; }
                .percent100 { width: 100%; }
            }
        }
    }
}

.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;

    &::before, ::after {
        content: "";
	    display: table;
        clear: both;
    }
}

.portfolio {
    background: #FFFFFF;
	padding-top: 12rem;
	padding-bottom: 12rem;
    color: red;

    .section-intro {
        color: #FF0077;
        font-size: 1.6rem;
        line-height: 1.875;
        margin-bottom: 0.3rem;
        letter-spacing: .4rem;

        h1 {
            font-family: "poppins-semibold", serif;
            font-size: 3.6rem;
            color: #313131;
            line-height: 1.25;
            margin-bottom: 1.2rem;
            padding-top: 10px;
        }

        .lead {
            font-family: "lora-regular", serif;
            font-size: 2rem;
            line-height: 1.8;
            color: #888888;
        }
    }

    .folio-wrapper {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3,350px);
        grid-template-rows: repeat(3,350px);
        grid-gap:50px 30px;

        > .item-wrap {
            img {
                border:thin gray solid;
                padding:10px;
            }
        }
    }

    .folio-item {
        padding: 0;
        position: relative;
        overflow: hidden;

        img {
            vertical-align: middle;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            .overlay {
                background: rgba(0, 0, 0, 0.8);
            }

            .folio-item-cell {
                left: 0;
            }

            img {
                -webkit-transform: scale(1.05);
                -ms-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .folio-item-table {
        display: table;
        width: 100%;
        height: 100%;
    }

    .folio-item-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: relative;
        left: -100%;
    }

    .folio-title {
        color: #FFFFFF;
        font-size: 3.3rem;
        padding: 0 3rem;
        margin-bottom: 0;
    }

    .folio-types {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-family: "poppins-regular", sans-serif;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        color: rgba(255, 255, 255, 0.6);
    }

}